[user]
	name = Daniel Rodriguez
	email = df.rodriguez143@gmail.com
	signingkey = 8D222CABC39ED32B

[push]
	default = simple

[core]
	excludesfile = /Users/danielfrg/.gitignore_global
	quotepath = false

[alias]
    commiti = commit --interactive
    diff = diff --color-words
    st = status
	br = branch
	ci = commit
    co = checkout
    gr = grep -i --color -n -E
	rebase = rebase -i
    logl = log --pretty=oneline --abbrev-commit
    lg = log --graph --topo-order --use-mailmap --stat --decorate
[commit]
	gpgsign = true
