[user]
	name = Daniel Rodriguez
	email = df.rodriguez143@gmail.com
	signingkey = 8D222CABC39ED32B

[push]
	default = simple

[core]
	excludesfile = /Users/drodriguez/.gitignore_global
	quotepath = false
	abbrev = 7

[alias]
    st = status
	br = branch
	ci = commit
    co = checkout
    gr = grep -i --color -n -E
    commiti = commit --interactive
    # diff = diff --color-words
	rebase = rebase -i
    log = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	prune = fetch --prune
	undo = reset --soft HEAD^
	stash-all = stash save --include-untracked
	update-origin-master = !git fetch upstream && git push origin upstream/master:master
	pr = "!f() { git fetch upstream +refs/pull/$1/head:pr/$1; } ; f"
	yolo = !git commit -am \"$(curl -s whatthecommit.com/index.txt)\"
	nope = "!f() { git reset HEAD --hard && git clean -fd; } ; f"
  	fuckit = "!f() { git clean -d -x -f; git reset --hard; } ; f"

[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX

[commit]
	gpgsign = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
