/base/.config/karabiner/assets
/base/.config/karabiner/automatic_backups

/bin/.local/share

/python/.ipython/profile_default/*
!/python/.ipython/profile_default/ipython_config.py

/python/.jupyter/lab/
/python/.jupyter/serverconfig/
/python/.jupyter/migrated

