'atom-workspace atom-text-editor:not([mini])':
  'cmd-[': 'unset!'
  'cmd-]': 'unset!'

'body':
  'cmd-[': 'pane:show-previous-item'
  'cmd-]': 'pane:show-next-item'

'atom-text-editor.vim-mode-plus.insert-mode':
  'j k': 'vim-mode-plus:activate-normal-mode' # jk to escape

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  '0': 'vim-mode-plus:move-to-first-character-of-line'
