[
  {
    title: "jupyter"
    paths: [
      "/Users/danielfrg/workspace/jupyter/jupyterhub"
      "/Users/danielfrg/workspace/jupyter/kubernetes_spawner"
      "/Users/danielfrg/workspace/jupyter/s3contents"
      "/Users/danielfrg/workspace/jupyter/dashboards_server"
    ]
    settings:
      "linter-pylint":
        executable: "/Users/danielfrg/anaconda/envs/jupyter/bin/pylint"
  }
  {
    title: "blog"
    paths: [
      "/Users/danielfrg/workspace/blog"
    ]
    settings:
      "linter-pylint":
        executable: "/Users/danielfrg/anaconda/envs/blog/bin/pylint"
  }
  {
    title: "dotfiles"
    paths: [
      "/Users/danielfrg/workspace/dotfiles"
    ]
  }
]
